---
---

@import "{{ site.theme }}";

.page-header {
  background-image: linear-gradient(-225deg, rgb(117, 93, 213) 35%, rgb(55, 136, 209) 100%);
}

#header,
.page-header a.btn,
.credits {
  display: none;
}

section:first-of-type {
  margin-top: 0;
}

section {
  #title {
    display: none;
  }
}
